<h1 style="color:red"><%= message %></h1>
<!DOCTYPE html>
<html>
<head>
	<title>Android自动化测试</title>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<meta charset="utf-8">
	<div class="page-header">
		<a href="terminals">
			<h1>Android自动化测试</h1>
		</a>
	</div>

		<div align="center">
		<h3>欢迎使用android自动化测试平台</h3>	
		<h1 style="color:red"><%= message %>错误！请检查设备是否正确连接， 或者树莓派是否正常运行！</h1>

	</div>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/startTest.js"></script>

</body>
</html>
