<!DOCTYPE html>
<html>
<head>
	<title>Android自动化测试</title>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<meta charset="utf-8">
	<div class="page-header">
		<a href="terminals">
			<h1>Android自动化测试</h1>
		</a>
	</div>

	<div class="row">
		<div class="col-lg-2">
			<p>测试记录</p>
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="terminals">终端列表</a>
				</li>
				<li class="active">
					<a href="general">概况</a>
				</li>
				<li>
					<a href="problem">问题报告</a>
				</li>
				<li>
					<a href="performance">性能报告</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-10">

		<h3>欢迎使用android自动化测试平台</h3>	
		<button id="startTest">开始测试</button>

		</div>
	</div>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/startTest.js"></script>

</body>
</html>
